---
layout: default
---

<style>
  /* Flexbox for centering the main content */
  body {
    background-image: url("{{ site.url }}{{ site.baseurl }}/images/backgrounds/library.png"); /* Replace with your image path */
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh;
    box-sizing: border-box;
  }

  /* Style for the main content wrapper */
  #homeid {
    background-color: rgba(255, 255, 255, 0.6); /* Add slight transparency for readability */
    padding: 20px;
    border-radius: 8px;
    width: 100%; /* Set a fixed or relative width for the box */
    max-width: 1200px; /* Optional: Limit the maximum width */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add a shadow for visual appeal */
    /* margin: auto; /* Center the box vertically */
    /* Add font styles here */
    font-family: 'Optima', sans-serif;
  }

</style>

<!-- Main Content -->
<div class="text-center">
  <img style="position:absolute; left:0px; top:0px; width: 100vw; height: auto;" src="{{ site.baseurl }}/images/titles/library.png" class="rounded float-right">
  
  <!-- Add gap -->
  <div style="height: 200px;"></div>

  <hr style="border-top: 3px solid #e1e3e3;"> <!-- Add a faint horizontal line here -->

  <!-- Add gap -->
  <div style="height: 50px;"></div>

  <div id="homeid" class="col-sm-12">
    {{ content }}
  </div>

    <!-- Add gap -->
    <div style="height: 200px;"></div>
</div>